body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin-left: 20px; 
}
a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffcc00;
}
.login-btn {
  background-color: #ffcc00;
  color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: auto; 
}
.img-container img{
  height: 700px;
  width: 45%;
}
.registration-block{
  position: absolute;
  right: 18%;
  top: 32%;
  color: white;
}
span{
  color: green;
}
.register-btn {
  background-color: #ffcc00;
  color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: auto; 
}
 input{
  border: none;
  outline: none;
  background-color: black;
  color: white;
}

